<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= render partial: "form", locals: { form: form } %>
      <h3>投稿する</h3>
    <% end %>
  </div>
</div>